<h1>マイクロポスト投稿フォーム</h1>
<%= render 'microposts/user_info' %>
<%= render 'microposts/micropost_form' %>
<h1><%= User.model_name.human %></h1>
<%= render 'users/users', users: @users %>
<%= paginate @users %>
