<p>
  <strong>Title:</strong>
  <%= @report.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @report.content %>
</p>

<% if current_user == @report.user %>
  <%= link_to 'Edit', edit_report_path(@report) %> |
<% end %>
<%= link_to 'Back', reports_path %>

<%= render 'comments/comments', commentable: @report %>

<h2>コメント投稿</h2>
<%= render 'comments/form', commentable: @report, comment: @comment %>
